.btn-group-vertical {
  height: 500px;
  font-size: 50px;
}
.board-tile {
  height: 150px;
  width: 150px;
}

.black-tile {
  background-color: #383838;
  font-size: 40px!important;
}

.board-tile:hover {
  background-color: #2c2c2c;
}
